#col{/*width:1000px;*//*height:10000px*/;margin:0px auto 0 auto;
    /*background-color: #fff*/;}
/*这里是实现点击后图片展示所在的位置，*/
#col .thumb{padding:10px 0 10px 10px;}
/*设置整个ul的背景色*/
#pg{position:relative;height:682px;background:#222222;}
/*设置li标签的一些样式*/
#pg li{width:193px;height:204px;position:relative;/*overflow:hidden;*/float:left;margin:0 5px 20px 0;z-index:2;opacity:0.8;filter:alpha(opacity=30);cursor:pointer;}

#pg li.active{opacity:1;filter:alpha(opacity=100);}
#pg li.selected{opacity:1;filter:alpha(opacity=100);z-index:99;-moz-box-shadow:0px 0px 10px #fff;-webkit-box-shadow:0px 0px 10px #fff;}
/*设置图片的大小*/
#pg li img{display:block;width:100%; height: 200px;}
/*这个是一行文字可以不写*/
#pg li p{color:#333;padding:0 0 0 10px;height:30px;line-height:30px;font-size:12px;background:#fff;
    padding-left: 31px;}
/* CSS Document */
/*html{color:#444333;background-color:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-rendering:optimizelegibility;min-width:960px}*/
/*html, body, section, div, p, h1, form, input, textarea, label, ol, ul, li, h1, h2, h3{margin:0;padding:0}*/
/*ol li{list-style-position:inside}*/
ul li{list-style:none}::selection{color:#fff;background-color:rgb(10,77,0)}
.center{display:block;width:960px;margin:30px auto;position:relative}
/*for-majors*/
.major-list-outer{height:573px; overflow:hidden}
.major-list{margin-right:-32px;margin-bottom:-30px;*margin-bottom:0px}
.major-list li{width:216px;height:169px;margin-right:32px;margin-bottom:32px;float:left;position:relative}
.major-list li a, .major-list li a span{width:100%;height:100%;display:block;position:absolute;left:0;top:0}
.front-face{z-index:2;background:url(../images/majors.png) no-repeat 0 0}
.back-face{z-index:1;background:url(../images/majors_back.jpg) no-repeat 0 0}
.major-list li a{overflow:hidden}
.major-list li:hover a .back-face{z-index:3;}
#dx .front-face, #dx .back-face{background-position:0 0}
#rj .front-face, #rj .back-face{background-position:-217px 0}
#jx .front-face, #jx .back-face{background-position:-434px 0}
#gdz .front-face, #gdz .back-face{background-position:-651px 0}
#jsj .front-face, #jsj .back-face{background-position:0 -170px}
#kz .front-face, #kz .back-face{background-position:-217px -170px}
#jg .front-face, #jg .back-face{background-position:-434px -170px}
#sx .front-face, #sx .back-face{background-position:-651px -170px}
#gl .front-face, #gl .back-face{background-position:-0 -340px}
#ch .front-face, #ch .back-face{background-position:-217px -340px}
#wl .front-face, #wl .back-face{background-position:-434px -340px}
#xw .front-face, #xw .back-face{background-position:-651px -340px}
/*for-majors ending here*/

.btm{ margin:30px auto}
.btm p{ font:normal 12px/24px 'Microsoft YaHei'; text-align:center}
