@charset "UTF-8";
/*css 初始化 */
html, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, body, ul, li, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
fieldset, img, input, button { 		/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;/*去除外边线*/
}

ul, ol ,li{
    list-style: none;				/*清除列表风格*/
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}
select, input {
    vertical-align: middle;
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
    /*防止拖动，文本框下面会有一个拖动变形*/
}
/*防止多行文本框拖动*/
img {
    vertical-align: middle;
    /*去除两个图
    border: 0;片之间的三像素的空隙*/
}

/*  去掉两个图片之的间3像素白空缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
    /*合并边线*/
}
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    /*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #3EA3FF;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1190px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}
.addborder {
    border-bottom: 1px solid #cccccc;
}
.hide {
    display: none
}
.blue{
    color:#3EA3FF;
}
/*tsite-nav部分start*/
.tsite-nav {
    background-color: #F2F2F2;
    height: 25px;
    border-bottom: 1px solid #E5E5E5;
}
.tsite-nav-bd {
    line-height: 25px;
    background-color: palegreen;
}
.tsite-nav-bd-l {
    padding-left: 5px;
    float: left;
}
.menu {
    float: left;
}
.hd span {
    margin-left: 20px;
    color: #AAAAAA;
}
.tsite-nav-bd-r {
    float: right;
    height: 25px;
}
.tsite-nav-bd-r li {
    position: relative;
    float: left;
    padding: 0 10px 0 15px;
}
.tsite-nav-bd-r li a{
    display: block;
    height: 26px;
}
.bd-r-items {
    position: absolute;
    z-index: 100;
    top: 26px;
    display: none;
}
.nav-list-webn {
    position: absolute;
    z-index: 100;
    top: 26px;
    right: 0;
}
.tsite-nav-bd-r li i {
    position: absolute;
    top: 10px;
    right: -5px;
    width: 15px;
    height: 7px;
    font: bold 15px/15px "SimSun";
    overflow: hidden;
    cursor: pointer;

}
.tsite-nav-bd-r li i s {
    position: absolute;
    top: -10px;
}
li.tsite-nav-pipe {

    padding-right: 5px;
    color: #DDD;
}
/*tsite-nav部分end*/
/*trip-header部分start*/
.trip-header{
    border-bottom: 3px solid #3EA3FF;
    height: 100px;
    position: relative;
    margin-bottom: 15px;

}
.trip-header-top{
    height: 70px;
}
.header-logo {
    float:left;
    height:34px;
    display:inline;
    margin: 20px 0 16px;

}
.trip-header-show1,
.trip-header-show2,
.trip-header-show3,
.trip-header-show4,
.trip-header-show5{
    height: 32px;
    width: 1136px;
    background-color: #ace7ff;
    padding-left: 54px;
    position: absolute;
    bottom: -35px;
    left: 0;
    z-index: 10;
    display: none;
}
.trip-header-show1 ul li,
.trip-header-show2 ul li,
.trip-header-show3 ul li,
.trip-header-show4 ul li,
.trip-header-show5 ul li{
    float: left;
    text-align: center;
    font: 12px/32px normal;
    margin: 0 15px;

}
.trip-header-show1 ul span,
.trip-header-show2 ul span,
.trip-header-show3 ul span,
.trip-header-show4 ul span,
.trip-header-show5 ul span{
    float: left;
    z-index: 100;
}
.header-logo a {
    color: #3EA3FF;
    font: 28px bold microsoft yahei;
}

.client-logo a img {
    float: right;
    width: 107px;
    height: 88px;
    margin-top: 5px;
}
.client-enjoy a img{
    float: right;
    width: 88px;
    height: 88px;
    margin-top: 5px;
}
.header-telephone {
    position: absolute;
    top: 10px;
    right: 274px;
    /*z-index: 100;*/
    background-color: #fff;
    height: 31px;
    line-height: 31px;
}
.home-mun{
    position: relative;
    width: 210px;
    color: #333;
    font-size: 13px;
    border: 1px solid #dce0e5;

}
.aboard-num{

    position: relative;
    width: 210px;
    color: #333;
    font-size: 13px;
    display: none;

}
.home-mun .icon {
    position: absolute;
    top: 7px;
    left: 11px;
    padding-left: 0;
    display: inline-block;
    width: 40px;
    height: 31px;
    background: url(../images/icon.png) no-repeat;
}
.home-mun .txt,.aboard-num.txt {
    margin-left: 40px;
}
.home-mun .txt em{
    margin-left: 10px;
    font: 12px/31px  "microsoft yahei";
}
.header-telephone .home-mun .arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 31px;
    cursor: pointer;
    background: url(../images/arrow.png) no-repeat center;
}
.header-nav-list{
    height: 26px;
    line-height: 26px;
    padding-bottom: 4px;
    position: relative;
    /*z-index: 9999;*/
    /*zoom: 1;*/
}
.trip-header-box .header-nav-list li {
    float: left;
    line-height: 26px;
    padding: 0 12px;
    font: 16px/26px "microsoft yahei";
}
/*trip-header部分end*/

/*footer部分start*/
.trip-footer-desc{
    padding: 40px 0;
    border-top: 3px solid #3ea3ff;
}
.trip-footer-item{
    float: left;
    width: 21%;
    min-height: 80px;
    /*padding-right: 20px;*/
    border-right: 1px solid #E8E8E8;

}
.trip-footer-item dl{
    padding: 0 5px 0 25px;
}
.trip-footer-item.bodernone {
    border-right: none;
}
.trip-footer-item dl dt {
    font-size: 16px;
    font-family: "Microsoft YaHei",simsun;
    color: #2b577a;
    font-weight: 700;
    padding: 0 0 15px;
}
.trip-footer-item dd span{
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer;
}
.trip-footer-item dd span a {
    color: #8a9ca8;
}
.trip-footer-item-last{
    position: relative;
    width: 35%;
    float: right;
    border-left: 1px solid #e8e8e8;
    min-height: 80px;
}
.trip-footer-item-last img {
    max-width: 393px;
    width: 95%;
    float: right;
    margin-top: 5px;
}

.trip-copyright {
    border-top: 1px solid #e8e8e8;
    line-height: 26px;
    color: #6c6c6c;
    background: #fff;
}
.footer-ali {
    border-bottom: 1px dashed #e8e8e8;
    padding-left: 0;
    color: #d5d5d5;
}
.footer-ali a {
    color: #6c6c6c;
    float: left;
    margin: 0 3px;
}
.footer-ali b {
    font-weight: 400;
    margin: 0 1px;
    float: left;
}
.footer-bt {
    margin-bottom: 15px;
}
.footer-copyright span {
    color:  #999;
    cursor: pointer;
}
/*footer部分end*/
/*trip-aside 部分start*/
.trip-aside {
    float: right;
    width: 36px;
    height: 100%;
    background-color: #000000;
}



/*trip-aside 部分end*/