*{
    margin: 0;
    padding: 0;
}

#content{
    width: 1349px;
    margin: 0 auto;

}
.rocket {
    position: fixed;
    left: 0px;
    bottom:-10px;
    display:none;
}

#backright{
    position:fixed;
    display: block;
    top: 0px;
    right: 0;
    z-index: 999;
    /*width: 35px;*/
}
#move_right{
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 999;
    width: 35px;
    height: 650px;


}
/*S-activity*/
#activity{
    height:110px;
    background-color:#FFFF01;
    position: relative;
}
#activity img{
    margin-left: 180px;
}
#close_a{
    position: absolute;
    display: block;
    border:1px solid black;
    height:16px;
    top:0;
    right:178px;
}
/*E-activity*/

/*S-item*/
#item{
    width: 100%;
    height: 25px;
    background-color: #F2F2F2;
}
#item_left{
    width: 295px;
    height: 25px;
    /*border: 1px solid red;*/
    margin-left: 80px;

}
#item_left a{
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    font-family:Arial;
    color:#999999;
    margin-left: 5px;
}
#item_left a:hover{
    color:#C40000 ;
    text-decoration:underline;
}
#item_left_img{
    background: url("../images/house.png")no-repeat;
}
#item_left span{
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    font-family:Arial;
    color:#999999;
    margin-left: 5px;
}
#item_right{
    margin-left:650px;
    margin-top: -25px;
    width: 630px;
    height: 25px;
    position: relative;

}
#item_right span{
    line-height: 25px;
    font-family:Arial;
    color:#999999;
    float: left;
}
#item_right .s_1{
    position: relative;
}
#item_right .s_1 img{
    position:absolute;
    margin-top: 4px;
}
#item_right a{
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    font-family:Arial;
    color:#999999;
}
#item_right a:hover{
color:#C40000;
text-decoration:underline;
}
#item_right li b{
line-height: 25px;
font-size: 14px;
color:#C40000 ;
}
/*#item_right_one{*/
    /*float: left;*/
/*}*/
#item_right_one{
    position:relative;
    top: -1px;
    left: 62px;
    display: block;
    width: 58px;
    height: 25px;
    font-size: 12px;
}
#item_right_two{
    position: absolute;
    width:86px;
    height: 25px;
    margin-left:70px;
    font-size: 12px;
}
#item_right_three{
    width: 54px;
    height: 25px;
    margin-left:170px;
    font-size: 12px;
}
#item_right_four{
    width: 48px;
    height: 25px;
    margin-left:12px;
    font-size: 12px;

}
#item_right_five{
    color: #999999;
    line-height: 25px;
    font-size:16px;
    margin-left: 10px;
    /*font-weight: 600;*/
}
#item_right_six{
    width: 48px;
    height: 25px;
    margin-left:12px;
    font-size: 12px;

    /*border: 1px solid red;*/
 }
#item_right_seven{
    width: 40px;
    height: 25px;
    margin-left:12px;
    font-size: 12px;
}
#item_right_eight{
    width: 56px;
    height: 25px;
    margin-left:12px;
    font-size: 12px;
}
#item_right_nine{
    width: 75px;
    height: 25px;
    margin-left:12px;
    font-size: 12px;
}
#item_right_one_next{
    width: 80px;
    height: 50px;
    border: 1px solid #999999;
    position: absolute;
    left:0px;
    top: 25px;
    background: #fff;
    filter: alpha(opacity=99);
    z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    display:none;
}
#item_right_four_next{
    width: 70px;
    height: 50px;
    border: 1px solid #999999;
    position: absolute;
    left:293px;
    top: 25px;
    background: #fff;
    filter: alpha(opacity=99);
    z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    display:none;
}
#item_right_six_next{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    left:-60px;
    top: 25px;
    display:none;
    z-index: 99999;
}
/*#item_right_six_next p{*/
    /*font-size: 20px;*/
    /*width: 13px;*/
    /*height: 20px;*/
    /*opacity: 1;*/
    /*/!*background-color: white;*!/*/
    /*margin-left: 90px;*/
    /*margin-top: -17px;*/
/*}*/
#item_right_six_next img{
    margin-top: 10px;
    margin-left: 10px;

}
/*E-item*/
/*E-serach*/
#serach{
    position: relative;
    margin: 0 auto;
    width: 1192px;
    height: 93px;
    /*border: 1px solid red;*/
}
#serach #serach_left{
    width: 325px;
    height: 93px;
    /*border: 1px solid blue;*/
    float: left;
}

#serach #serach_center{
    width: 612px;
    height: 93px;
    float: left;
}
#serach #serach_right{
    /*position: absolute;*/
    width: 250px;
    height: 93px;
    right: 0;
}
#serach #search_s{
    position: relative;
    width: 82px;
    height: 38px;
    border: 1px solid #E5E5E5;
    position:absolute;
    background-color: #fff;
    /*color: #e22a40;*/
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 30px;
    margin-left: -5px;
    border-radius: 3px;
    font-family: Arial;
}
#search_s_add{
    position: absolute;
    width: 480px;
    height: 680px;
    border: 1px solid #E5E5E5;
    background-color: white;
    z-index: 100;
    margin-top:-28px;
    margin-left: 230px;
    display: none;
}
#search_s_add_span{
    display: block;
    height: 680px;
    width: 480px;
    border: 1px solid #E5E5E5;
}
#search_s_add_span_first{
    margin-left: 27px;
    margin-top: 25px;
    width: 80px;
    height: 80px;
    color:#999999;
}
.search_s_add_span_city{
    width: 382px;
    height: 63px;
    margin-left: 100px;
    margin-top:-91px;

}
#search_s_add_span .search_s_add_span_city li{
    margin-top: 10px;
    list-style:none ;
    float:left;
    margin-left: 18px;

}
#search_s_add_span .search_s_add_span_city li a{
    text-decoration: none;
    color:#333333;
    font-family: Arial;
    font-size: 15px;
}
#search_s_add_span .search_s_add_span_city li a:hover{
    color:#C40000;
}
#search_s_add_span_eng{
    display: block;
    width: 480px;
    height: 43px;
    /*border-bottom: 1px solid #999999;*/
    z-index: 101;
}
#search_s_add_span_eng span{
    margin-top: 0;
    float: left;
    display: block;
    width: 94px;
    height: 43px;
    border-bottom: 1px solid #E5E5E5;
    line-height: 43px;
    text-align: center;
}
#search_s_add_span_eng span:hover{
    border: 1px solid #E5E5E5;
    border-bottom: none;
}

#search_s_add_span_eng_choose{
    display: block;
    width: 480px;
    height: 559px;
    /*border: 1px solid #999999;*/
    /*border-top: none;*/
}
#search_s_add_span_eng_choose .wrapper{
    height: 86px;
    width: 480px;
    margin-top: -12px;
    /*border: 1px solid #999999;*/
}
#search_s_add_span_eng_choose .letter-title{
    display: block;
    margin-left: 30px;
    margin-top: 23px;
    color: #C40000;
}
.wrapper .all-cities1{
    display: block;
    margin-left: 35px;
    margin-top: -24px;

}
#search_s_add_span_eng_choose .all-cities1 span{
    display: block;
    float: left;
    margin-left: 24px;
    line-height: 35px;
}
.all-cities2{
    display: block;
    margin-left:37px;
    margin-top: -25px;
}
.all-cities2 span{
    display: block;
    float: left;
    margin-left: 25px;
    line-height: 35px;
}

.all-cities3{
    display: block;
    margin-left:37px;
    margin-top: -25px;
}
.all-cities3 span{
    display: block;
    float: left;
    margin-left: 24px;
    line-height: 35px;
}

.all-cities4{
    display: block;
    margin-left:37px;
    margin-top: -25px;
}
.all-cities4 span{
    display: block;
    float: left;
    margin-left: 24px;
    line-height: 35px;
}

.all-cities5{
    display: block;
    margin-left:37px;
    margin-top: -25px;
}
.all-cities5 span{
    display: block;
    float: left;
    margin-left: 24px;
    line-height: 35px;
}


.J_blk_FGHJ{
    width: 480px;
    height: 559px;
    display: none;
}
.wrapper .letter-title{
    display: block;
    margin-left: 30px;
    margin-top: 23px;
    color: #C40000;
}
.all-citiesf{
    display: block;
    margin-left: 55px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesg{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesg span{
    margin-left: 2px;
}
.all-citiesh{
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesh span{
    margin-left: 3px;
}
.all-citiesj{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesj span{
    margin-left: 3px;
}


.J_blk_KLMNP{
    display: none;
}
.all-citiesk{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesk span{
    margin-left: 3px;
}
.all-citiesl{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesl span{
    margin-left: 2px;
}
.all-citiesm{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesm span{
    margin-left: 2px;
}
.all-citiesn{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesn span{
    margin-left: 2px;
}
.all-citiesp{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-citiesp span{
    margin-left: 2px;
}

.J_blk_QRSTW{
    display: none;
}
.J_blk_XYZ{
    display: none;
}
.wrapper .all-cities{
    display: block;
    margin-left: 54px;
    margin-top: -26px;
    line-height: 35px;
}
.all-cities span{
    margin-left: 2px;
}



















#serach_center_top{
    width:550px;
    margin-left: 60px;
    margin-top: 27px;
}
#serach_center_top input{
    width: 448px;
    height: 31px;
    border: 3px solid #e22a40;
    color:#666666;
}
#serach_center_top button{
    width: 90px;
    height: 37px;
    border: 3px solid #e22a40;
    background-color: #e22a40;
}
#serach_center_bottom ul{
    list-style: none;
    margin-left: 60px;
}
#serach_center_bottom li{
    float: left;
    margin-left: 5px;
    color:#A9A9A9;
}
#serach_center_bottom li a{
    text-decoration: none;
    font-size: 12px;
    font-family:arial;
    color:#A9A9A9;
}
#serach_center_bottom li a:hover{
    color:#C40000 ;
}
#serach_right ul{
    position: absolute;
    list-style: none;
    right: 0;
    top:35px;
}
#serach_right ul li{
    float: left;
    margin-left: 20px;
}
#serach_right ul li a{
    text-decoration: none;
    color: #666;
    font-weight: bolder;
    text-decoration: none;
    font-size: 12px;
}
/*E-serach*/
/*S-tit*/
#tit{
    height: 38px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    z-index: 999;
    /*border: 1px solid hotpink;*/
}
#tit_left{
    width: 240px;
    height: 38px;
    background-color: #2f2f2f;
    line-height: 38px;
    float: left;
    margin-left: 78px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;

}
#tit_center{
    height: 38px;
    width: 630px;
    float: left;
}
#tit_center ul{
    list-style: none;
}
#tit_center ul li{
    float: left;
}
#tit_center .line{
    font-size: 16px;
    color: #D9D9D9;
    line-height: 38px;
    text-decoration: none;

}
#tit_center ul li a {
    font-size: 16px;
    color: #333;
    line-height: 38px;
    padding: 0 25px;
    text-decoration: none;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}
#tit_center ul li a:hover{
    color:#C40000;
}

#tit_right{
    width: 330px;
    height: 38px;
    position: absolute;
    right: 75px;
}
#tit_right .right_1{
    width: 120px;
    margin-top: 5px;
    float: left;
}
#tit_right .right_1 a{
    margin-right: 30px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 36px;
    color: #666;
}
#tit_right .right_2{
    position: absolute;
    right: 0;

}
/*E-tit*/
/*S-navi*/
#navi{
    margin: 0 auto;
    width: 1192px;
    height: 585px;
    border: 1px solid #e7e7e7;
    position: relative;
}
#navi_left{
    width: 240px;
    height: 585px;
    float: left;
    position: relative;
}
#navi_left ul{
    list-style: none;
}
#navi_left ul li{
float: left;
position: relative;
list-style: none;
width: 100%;
height: 34px;
margin: 0;
padding: 19px 0;
border-top: 1px solid #e7e7e7;
cursor: default;
}
#navi_left ul li p{
    margin-top: 10px;
    margin-left: 45px;
    font-size: 12px;
    /*color: #999;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#navi_left ul li h3{
    margin-top: -10px;
    margin-left: 17px;
    font-size: 14px;
    font-weight: 700;
    color: #515151;
    position: relative;
}
#navi_left ul li h3 b{
    margin-left: 90px;
    color: #515151;
}
#navi_left ul li h3 a{
    margin-left: 12px;
    color: #515151;
}

#navi_left a{
    text-decoration: none;
    margin-left:3px;
    color:#999999;
}
#navi_left a:hover{
    color:#C40000;
}
#navi_left .hov:hover{
    background: #e00024;
}





.subview {
    /*display: none;*/
    position: absolute;
    background-color: #fff;
    border: 3px solid #e22a40;
    width: 944px;
    max-height: 357px;
    _height: expression(this.scrollHeight > 357 ? '357px' : 'auto');
    top: 0;
    left: 100%;
    /*margin-left: -950px;*/
    margin-top: 0px;
    line-height: 1.2;
    z-index:100;
    -webkit-transition: top .01s ease-in;
    transition: top .01s ease-in;
    overflow: hidden;
}
.subview-li a{
    text-decoration: none;
    color:#999;
}
.cat-popup .subview-li {
    float: left;
    border-right: 1px dotted #d3d3d3;
    padding: 16px 0 15px 25px;
    margin-right: 2px;
    width: 222px;
    height: 88px;
    overflow: hidden;
}
.cat-popup .subview h4 a {
    color: #515151;
    font-size: 12px;
    font-weight: 700;
}
.cat-popup .subview h4 {
    margin: 0 0 10px;
    color: #515151;
    font-size: 12px;
    font-weight: 700;
}
.cat-popup .subview-li p a {
    border-left: 1px solid #e7e7e7;
    padding-left: 9px;
    margin-left: -10px;
    margin-right: 18px;
}
.cat-popup .subview p a {
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cat-popup .subview a {
    color: #666;
}
a {
    text-decoration: none;
}
.cat-popup .subview p {
    overflow: hidden;
    margin: 0;
}
.promo-brands p a{
    margin-left: 23px;
}

.promo-banner img{
    margin-left: 748px;
    margin-top: -110px;
    width: 193px;
    height: 120px;
}
.promo-acts {
    margin-top: 60px;
}



















#navi_center{
    width: 750px;
    height: 585px;
    float: left;
}
#navi_center_top{
    width: 750px;
    height: 291px;
}


#navi_center_top {
    width: 750px;
    height: 291px;
    overflow: hidden;
    position: relative;
}

#navi_center_top li {
    width: 750px;
    height: 291px;
    overflow: hidden;
    float: left;
}

#navi_center_top ul {
    position: absolute;
    left: 0;
    top: 0px;
    width: 600%;
}

#arr {
    display: none;
}

#arr span {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #000;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '∫⁄ÃÂ';
    font-size: 30px;
    color: #fff;
    opacity: 0.3;
    border: 1px solid #fff;
}

#arr #right {
    right: 5px;
    left: auto;
}





/*#navi_center_top li {*/
    /*width: 500px;*/
    /*height: 200px;*/
    /*overflow: hidden;*/
    /*float: left;*/
/*}*/

#navi_center_top ul {
    position: absolute;
    left: 0;
    top: 0px;
    width: 3000px;
}

#navi_center_top ol {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 20px;
    text-align: center;
}

#navi_center_top ol li {
    float: left;
    width: 20px;
    height: 20px;
    background:black;
    margin-left: 10px;
    cursor: pointer;
    color:white;
    border-radius: 10px 10px 10px 10px;
}
#navi_center ol li .cur {
    background: #e00024;
}








#navi_center_bottom{
    width: 750px;
    height: 292px;
    border: 1px solid #F2F2F2;
}
.tm-chaoshi-markets {
    border-width: 1px 0;
    height: 292px;
    font-size: 0;
}
.tm-chaoshi-markets .row1 , .rows2 {
    position: relative;
    left: -1px;
}
.tm-chaoshi-markets a:hover img {
    position: relative;
    z-index: 11;
    -webkit-transform: scale(1.12);/*Àı∑≈ Ù–‘*/
    /*-ms-transform: scale(1.12);*/
    /*transform: scale(1.12);*/
    -webkit-transition: -webkit-transform .2s ease-in;
    /*transition: transform .2s ease-in;*/
}
#navi_right{
    width: 198px;
    height: 585px;
    margin-left: 993px;

}
.tm-chaoshi-sidebar{
    margin-left: 6px;
}
.m-lottery-index {
    margin-bottom: 10px;
}
.m-lottery-index .title {
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    color: #666;
    background: #ffe401;
    border: 1px solid #faed7d;
}
.m-lottery-index .title span {
    display: inline-block;
    width: 30px;
    height: 17px;
    vertical-align: middle;
    background: url(//g.alicdn.com/tm/chaoshi/3.7.0/mods/lottery-index/img/icon-user.png) no-repeat center center;
}
.m-lottery-index .content {
    border: 1px solid #faed7d;
    border-top: 0;
    background: #fffce0;
    padding: 20px 9px 0;
}
.m-lottery-index .content .user-lottory a {
    color: #e12a46;
    text-decoration: underline;
}
.m-lottery-index .content .user-lottory .text {
    padding-bottom: 4px;
    font-size: 12px;
    color: #2f2f2f;
    line-height: 18px;
    height: 18px;

}
.m-floor .recommend .words .outer.words-4 .text {
    max-width: 48px;
    font-size: 12px;
}
.m-floor .recommend .words .outer span{
    font-size: 12px;
}
/*.inner:hover{*/
    /*background-color: #8DD514;*/
    /*color:white;*/
    /*text-decoration: underline;*/

/*}*/
.m-lottery-index .content .user-others {
    border-top: 1px solid #faed7d;
    padding-top: 14px;
    padding-bottom: 14px;
}
.m-lottery-index .content .user-others .user-coupon, .m-lottery-index .content .user-others .user-bought {
    display: block;
    float: left;
    width: 84px;
    padding-top: 24px;
    background: url("") no-repeat center 4px;
    font-size: 12px;
    line-height: 16px;
    color: #2f2f2f;
    text-align: center;
}
.content .user-others .user-bought {
    display: block;
    float: left;
    width: 84px;
    padding-top: 24px;
    background: url("") no-repeat center 4px;
    font-size: 12px;
    line-height: 16px;
    color: #2f2f2f;
    text-align: center;
}
.user-others{
    height: 37px;
}
.cheaper{
    margin-left: -140px;
    /*margin-top: 0;*/
}
.buy{
    margin-left: 60px;
}
/*E-navi*/

.m-floor {
    margin-bottom: 50px;
    height: 600px;
}
.m-floor .goods .wrap {
    margin: 20px;
    position: relative;
    _zoom: 1;
}
.m-floor .header {
    overflow: hidden;
    padding: 5px 0 5px 5px;
    _zoom: 1;
}
.m-floor .header h2 {
    color: #2f2f2f;
    font-size: 20px;
    float: left;
    font-weight: 700;
}
.m-floor .header .links {
    margin-top: 12px;
    float: right;
}
.m-floor .header .links li {
    float: left;
    padding: 0 1em;
    border-right: 1px solid #e5e5e5;
    list-style: none;
}
.m-floor .header .links a.hot {
    color: #e8374d;
    font-size: 12px;
}
.m-floor .header .links a {
    color: #666;
    font-size: 12px;
}
.m-floor .content {
    border-top: 2px solid #000;
    overflow: hidden;
}
.m-floor .goods {
    float: left;
    width: 100%;
    min-height: 1px;
}
.m-floor .goods .list {
    margin: 0 150px 0 240px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    border-width: 0 1px;
}
.m-floor .goods a {
    float: left;
    width: 25%;
    _width: 201px;
    color: #2f2f2f;
    height: 278px;
    overflow: hidden;
    border-right: 1px solid #e7e7e7;
    margin-right: -1px;
}
/*element.style {*/
    /*background: #8dd514;*/
/*}*/
.m-floor .recommend {
    width: 240px;
    float: left;
    margin-left: -100%;
}
.m-floor .recommend .words {
    height: 200px;
    padding: 30px 0 30px 20px;
}
.m-floor .recommend .words .outer {
    margin: 0 10px 10px 0;
    line-height: 1.2;
    float: left;
    width: 57px;
    height: 57px;
    text-align: center;
    color: #2f2f2f;
    background-color: #fff;
    border-radius: 57px;

    position: relative;
    border: 1px solid #fff;
    display: table;
}
.inner:hover{
    border-radius: 57px;
    background-color: #8DD514;
    color:white;
    text-decoration: underline;
}
.inner1:hover{
    border-radius: 57px;
    background-color: #FF9228;
    color:white;
    text-decoration: underline;
}
.inner2:hover{
    border-radius: 57px;
    background-color: #B373FB;
    color:white;
    text-decoration: underline;
}

.m-floor .recommend .words .outer .inner {
    display: table-cell;
    vertical-align: middle;
}
.m-floor .recommend .banner {
    display: block;
    height: 296px;
}
.m-floor .promo {
    position: relative;
    width: 150px;
    float: left;
    margin-left: -150px;
    padding-top: 30px;
    font-size: 0;
}
.m-floor .promo .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 39px;
    z-index: 1;
}
.m-floor .goods img {
    margin: 0 auto 10px;
    display: block;
}
.m-floor .goods h3, .m-floor .goods .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.m-floor .goods .title {
    color: #666;
    margin-bottom: 5px;
}

.m-floor .goods .o-price .yen {
    font-size: 1em;

}
.m-floor .yen {
    font-size: .5em;
    font-style: normal;
    vertical-align: top;
    font-weight: 400;
}
.m-floor .goods .o-price {
    color: #999;
    text-decoration: line-through;
    font-family: arial;
}
.m-floor .goods .price {
    font-size: 18px;
    font-weight: 700;
    font-family: arial;
    line-height: 1.231;
}
.m-floor .goods .ui-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
.ui-cart {
    text-align: center;
    text-decoration: none;
    color: #e9394e;
    font-size: 40px;
    line-height: 36px;
    background: 0 0;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.m-floor .goods .o-price {
    color: #999;
    text-decoration: line-through;
    font-family: arial;
    font-size: 12px;
}
.m-floor .goods h3 {
    font-size: 12px;
}
.wrap .title {
    font-size: 12px;

}
.m-floor .goods .o-price .yen {
    font-size: 1em;
}

#tmall-desc {
    padding-left: 170px;
    width: 1020px;
    background-position: 0 bottom;
    position: relative;
    padding-top: 22px;
    height: 190px;
    margin: auto;
    border-top: 1px solid #ededed;
    background: url("../images/cathead.png") no-repeat 45px bottom;

}
#tmall-desc .logo {
    position: absolute;
    top: 22px;
    left: 0;
}
#tmall-desc dl {
    float: left;
    width: 150px;
    padding-left: 52px;
}
#tmall-desc dl dt {
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
#tmall-desc dl dt {
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
#tmall-desc dl dt a {
    color: #646464;
}
#tmall-desc dl a {
    display: block;
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
}
a {
    text-decoration: none;
}
dd {
    display: block;
}
dd a{
    font-size: 12px;
    display: block;
}
dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#tmall-copyright, #tmall-copyright .footer-copyright, #server-num {
    background: #c40000;
}
#tmall-copyright {
    border-top: 2px solid #c40000;
    background: #000;
    text-align: left;
    min-height: 177px;
}
#tmall-copyright .footer-tmallinfo, #tmall-copyright .footer-otherlink, #tmall-copyright .footer-copyright {
    width: 1190px;
    margin: 0 auto;
}
#tmall-copyright .footer-tmallinfo, #tmall-copyright .footer-otherlink {
    color: #fff;
    line-height: 25px;
}
#footer p {
    padding: 5px 0;
}
#footer p a {
    margin-right: 3px;
    color: #fff;
    font-size: 10px;
}
.otherlink, #tmall-copyright .footer-copyright {
    width: 1190px;
    margin: 0 auto;
}
#footer p a {
    margin-right: 3px;
    color: #fff;
}
#tmall-copyright, #tmall-copyright .footer-copyright, #server-num {
    background: #c40000;
}
#tmall-copyright .footer-copyright {
    line-height: 20px;
    font-size: 10px;
    color: #a4a4a4;
    width: 1190px;
    margin: 0 auto;
}
#tmall-copyright .footer-copyright a {
    color: #a4a4a4;
    margin-right: 65px;
}
#tmall-copyright .footer-copyright b {
    display: block;
    color: #686868;
    font-weight: 400;
}

#mobile img {
    width: 105px;
    height: 105px;
    margin-top: 0;
}
#tmall-desc dl {
    width: 150px;
}
#tmall-desc dl {
    float: left;

    padding-left: 52px;
}
#tmall-desc dl a {
    display: block;
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
}
#tmall-desc .join {
    display: block;
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 105px;
    line-height: 20px;
    color: #8b8b8b;
}
